/* to make my background a darker color so lighter text will show up */
body, html{
  height: 100%;
}

.bg{
  background-color: #419F9E;
}

/* styling for my name at the top*/
h1{
  font-family: Arial, Tahoma, serif;
  color: white;
  text-align: center;
  font-size: 28px;
}

/* styling for my other title sections */
h2{
  font-family: Arial, Tahoma, serif;
  color: white;
  text-align: center;
  font-size: 22px;
}

/* styling for my job title under my name at the top */
h3{
  font-family: Arial, Tahoma, serif;
  color: white;
  text-align: center;
  font-size: 20px;
}

p{
  font-family: Arial, Tahoma, serif;
  color: gray;
  font-size: 14px;
}

/*styling for my links at the bottom for my profiles*/
a{ 
  font-family: Times New Roman, Times, sans-serif;
  font-size: 22px;
  text-align: center;
}

a:link {color: green} 
a:visited {color: orange}
a:hover {color: yellow}
a:active {color: white}
