/* styling for my name at the top*/
h1{
  font-family: Arial, Tahoma, serif;
  color: white;
  text-align: center;
  font-size: 38px;
  height: 20px;
}

/* styling for my other title sections */
h2{
  font-family: Arial, Tahoma, serif;
  color: white;
  text-align: center;
  font-size: 28px;
}

/* styling for my job title under my name at the top */
h3{
  font-family: Arial, Tahoma, serif;
  color: white;
  text-align: center;
  font-size: 32px;
}

img{
  padding: 25px 25px 25px 25px;
  margin-left: 760px
}

p{
  font-family: Arial, Tahoma, serif;
  color: #F2F2CC;
  text-align: center;
  font-size: 16px;
  margin-left: 100px;
  margin-right: 100px;
}

li{
  text-align: center;
  text-decoration: italic;
}

/*styling for my links at the bottom for my profiles*/
a{ 
  font-family: Times New Roman, Times, sans-serif;
  font-size: 20px;
}

a:link {color: green} 
a:visited {color: orange}
a:hover {color: yellow}
a:active {color: white}
